body{
    background-color: gray;
}
.background div{
    border: black solid;
    border-radius: 1px;
    width: 350px;
    height: 250px;
    padding-top: 12px;
    padding-left: 12px;
    margin: auto;
    margin-top: 200px;
    background-color: white;
}

